* {
    margin: o;
    padding: 0;
    box-sizing: none;
    list-style: none;
}

input, textarea{
    border: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
}